#container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-top: 20px;
    margin-bottom: 12px;
}

h2 a {
    font-size: 16px;
    float: right;
    margin-top: 10px;
    margin-right: 12px;
}

#messages {
    width: 100%;
    height: calc(100vh - 200px);
    min-height: 200px;
    margin-bottom: 12px;
    overflow: auto;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 85px);
    float: left;
}

button {
    float: left;
    width: 80px;
    margin-left: 5px;
}

.new-user, .user-left {
    font-style: italic;
    text-align: center;
    color: green;
}

.user-left {
    color: darkred;
}

.message.mine{
    text-align: right;
}

.message.mine p {
    border-color: lightskyblue;
    background-color: lightblue;
}

.message span {
    font-weight: bold;
    font-style: italic;
    display: block;
}

.message p {
    border: solid 1px #999;
    border-radius: 4px;
    background-color: #f0f0f0;
    display: inline-block;
    padding: 4px 10px;
}

@media screen and (max-width: 760px) {
    #rooms .room {
        width: 50%;
        height: 150px;
    }
}

@media screen and (max-width: 480px) {
    #rooms .room {
        width: 100%;
        height: auto;
    }
}
