<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos Agentes</title>
</head>
<body>
    <h1>Bienvenidos Agentes</h1>
    <p>Seleccione una opción:</p>
    <ul>
        <li><a href="/archivos">Archivos</a></li>
        <li><a href="/correos">Correos</a></li>
        <li><a href="/chat">Chat</a></li>
    </ul>
</body>
</html>
